{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <h3 class="mb-3 mt-2">About qsDictyosteliumDB</h3>
        <p>Don’t you wonder what clones you should use when starting a new experiment? The clones may need to have certain attributes. You might want to use clones that have been used a lot or a little. You might want to use all clones from a certain geographical location, or of a certain mating type. You might want to use clones that carry certain bacteria, or clones free of bacteria.</p>
        <p>If your experiments involve the social amoeba, <i>Dictyostelium discoideum</i>, and wild-collected clones mostly from the Queller/Strassmann group, then this database is for you! We have listed all clones we have used and basic data about them. The database also connects to all our papers that have used these clones. You can see what clone is used in what paper, or what paper uses what clones. We also include the other species we have studied, <i>D. giganteum</i>, <i>D. purpureum</i>, <i>D. mucoroides</i>, and <i>Polysphondelium violaceum</i>.</p>
        <p>Have clones or papers you would like added to the database? Have tweaks to the database to recommend?<br>Please contact Joan Strassmann: <a href="mailto:strassmann@wustl.edu">strassmann@wustl.edu</a>.</p>
        <p>Hope this helps!</p>
    </div>
</div>


{% endblock content %}