{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <div class="row">    
            <div class="col">
                <h3>{{ clone.qs_id }}</h3>
                <p>(Alternate ID: {{ clone.alt_id }})</p>
            </div>
            <div class="col">
                <div class="float-right">
                    <h5>Species: {{ clone.species }}</h5>
                </div>
            </div>
        </div>    
        <div>
            <p>{{ clone.origin }}</p>
            <p>{{ clone.origin_coords }}</p>
            <p>{{ clone.box_plated_from }}</p>
            <p>{{ clone.collect_date }}</p>
            <p>{{ clone.freeze_date }}</p>
            <p>{{ clone.collect_method }}</p>
            <p>{{ clone.culture_method }}</p>
            <p>{{ clone.origin_soil_sample }}</p>
            <p>{{ clone.is_clonal }}</p>
            <p>{{ clone.freezer_loc }}</p>
            <p>{{ clone.box_name }}</p>
            <p>{{ clone.box_initials }}</p>
        </div>    
    </div>
</div>        

<div class="container-fluid" style="max-width:1800px">
    <div class="col-md-12">
        <div class="d-flex justify-content-between">
            <p>Associated papers:</p>
            <button type="button" class="btn btn-outline-success btn-sm btn float-right" onclick="tableToCSV('qs_papers.csv')">Export to CSV</button>
        </div>

        {% block paper_table %}
            {% include "db_app/paper_table.html" %}
        {% endblock %}
        
    </div>
</div>  
{% endblock content %}