{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <form method="GET" action=".">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h6>Species</h6>
                        <div class="card" style="width:16rem;height:8rem;">
                            <div class="overflow-auto">
                                <div class="card-body">
                                    {% for species in speciesList %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ species.species }}" id="{{ species.species }}">
                                            <label class="form-check-label" style="font-size: small;" for="{{ species.species }}">{{ species.species }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <h6>Paraburkholderia Symbiont</h6>
                        <div class="card" style="width:16rem;height:8rem;">   
                            <div class="overflow-auto">
                                <div class="card-body">
                                    {% for burkSpecies in burkList %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{ burkSpecies.burkSpecies }}" id="{{ burkSpecies.burkSpecies }}">
                                        <label class="form-check-label" style="font-size: small;" for="{{ burkSpecies.burkSpecies }}">{{ burkSpecies.burkSpecies }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>    
                        </div>    
                    </div>
                </div>    
                <div class="col align-self-end">
                    <button type="button" class="btn btn-secondary float-right">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>   

{% block clone_table %}
    {% include "db_app/clone_table.html" %}
{% endblock %}

{% endblock content %}