{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <form method="GET" action=".">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <h6>Species</h6>
                        <div class="card" style="width:16rem;height:9rem;">
                            <div class="overflow-auto">
                                <div class="card-body">
                                    {% for species in speciesList %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="{{ species.species }}" id="{{ species.species }}" name="dicty_species">
                                            <label class="form-check-label" style="font-size: small;" for="{{ species.species }}">{{ species.species }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <h6>Paraburkholderia Symbiont</h6>
                        <div class="card" style="width:16rem;height:9rem;">   
                            <div class="overflow-auto">
                                <div class="card-body">
                                    {% for burkSpecies in burkList %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{ burkSpecies.burk_species }}" id="{{ burkSpecies.burk_species }}" name="burk_species">
                                        <label class="form-check-label" style="font-size: small;" for="{{ burkSpecies.burk_species }}">{{ burkSpecies.burk_species }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>    
                        </div>    
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="form-group">
                            <h6>Amoebophilis Endosymbiont</h6>
                            <div class="form-check">
                                <input class="form-radio-input" type="radio" value="True" id="amo_true" name="amo_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="true">Yes</label>
                                <input class="form-radio-input" type="radio" value="False" id="amo_false" name="amo_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="false">No</label>
                                <input class="form-radio-input" type="radio" value="" id="amo_none" name="amo_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="none">N/A</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>Neochlamydia Endosymbiont</h6>
                            <div class="form-check">
                                <input class="form-radio-input" type="radio" value="True" id="chlam_true" name="chlam_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="true">Yes</label>
                                <input class="form-radio-input" type="radio" value="False" id="chlam_false" name="chlam_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="false">No</label>
                                <input class="form-radio-input" type="radio" value="" id="chlam_none" name="chlam_endo">
                                <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="none">N/A</label>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col">
                    <div class="form-group">
                        <h6>Mating Type</h6>
                        <div class="form-check">
                            <input class="form-radio-input" type="radio" value="1" id="mating_1" name="mating_type">
                            <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="1">1</label>
                            <input class="form-radio-input" type="radio" value="2" id="mating_2" name="mating_type">
                            <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="2">2</label>
                            <input class="form-radio-input" type="radio" value="3" id="mating_3" name="mating_type">
                            <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="3">3</label>
                            <input class="form-radio-input" type="radio" value="" id="mating_na" name="mating_type">
                            <label class="form-radio-label" style="font-size: medium; margin-right: 10px" for="na">N/A</label>
                        </div>
                    </div>
                </div>    
                <div class="col-1 align-self-end">
                    <button type="submit" class="btn btn-secondary float-right">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>   

{% block clone_table %}
    {% include "db_app/clone_table.html" %}
{% endblock %}

{% endblock content %}