{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <div class="row">    
            <div class="col">
                <h5>{{ paper.title }}</h5>
            </div>
            <div class="col">
                <div class="float-right">
                    <h5><a href="{{ paper.doi }}" target="_blank">{{ paper.doi }}</a></h5>
                </div>
            </div>
        </div>    
        <div>
            <p>{{ clone.origin }}</p>
            <p>{{ clone.originCoords }}</p>
            <p>{{ clone.boxPlatedFrom }}</p>
            <p>{{ clone.collectDate }}</p>
            <p>{{ clone.freezeDate }}</p>
            <p>{{ clone.collectMethod }}</p>
            <p>{{ clone.cultureMethod }}</p>
            <p>{{ clone.originSoilSample }}</p>
            <p>{{ clone.isFarmer }}</p>
            <p>{{ clone.isClonal }}</p>
            <p>{{ clone.freezerLoc }}</p>
            <p>{{ clone.boxName }}</p>
            <p>{{ clone.boxInitials }}</p>
        </div>    
    </div>
</div>        

{% block clone_table %}
    {% include "db_app/clone_table.html" %}
{% endblock %}

{% endblock content %}