{% block paper_table %}
{% load bootstrap_pagination %}

<div class="table-responsive-xl">
    <table class="table table-sm papertable-text">
        <thead class="thead-light">
            <tr>    
                <th scope="col">DOI</th>
                <th scope="col">Title</th>
                <th scope="col">First Author</th>
                <th scope="col">Last Author</th>
                <th scope="col">Journal</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}  
                <tr>
                    <td><a href="{{ paper.doi }}" target="_blank" rel="noopener">{{ paper.doi }}</a></td>
                    <td><a href="/papers/{{ paper.index }}">{{ paper.title }}</a></td>
                    <td>{{ paper.first_author }}</td>
                    <td>{{ paper.last_author }}</td>
                    <td>{{ paper.journal }}</td>
                    <td>{{ paper.year }}</td>
                </tr>
            {% endfor %}
        </tbody>   
    </table>
    
</div>

{% bootstrap_paginate papers range=5 show_first_last="true" %}

{% endblock paper_table %}