{% extends "db_app/base.html" %}
{% block content %}

<div class="container">    
    <div class="content-section">
        <div class="row">    
            <div class="col">
                <h5>{{ paper.title }}</h5>
            </div>
            <div class="col">
                <div class="float-right">
                    <h5><a href="{{ paper.doi }}" target="_blank" rel="noopener">Link to article</a></h5>
                </div>
            </div>
        </div>    
        <table class="table table-sm clonetable-text">
            <tr>
                <td>First Author</td>
                <td>{{ paper.first_author }}</td>
            </tr>    
            <tr>
                <td>Last Author</td>
                <td>{{ paper.last_author }}</td>
            </tr>
            <tr>
                <td>Journal</td>
                <td>{{ paper.journal }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ paper.year }}</td>
            </tr>
        </table>    
    </div>
</div>        

{% block clone_table %}
    {% include "db_app/clone_table.html" %}
{% endblock %}

{% endblock content %}